<!--
Navbar of the app
-->
<mat-toolbar>
  <div class="row">
    <a href="/main" class="home-button">
      <button mat-button>Home</button>
    </a>
    <a href="/admin" class="home-button">
      <button mat-button>Admin</button>
    </a>
    <span class="login-button">
      <a mat-icon-button class="example-icon" color="primary" aria-label="home button" href="/login">
        <mat-icon>perm_identity</mat-icon>
      </a>
    </span>

  </div>

</mat-toolbar>


<router-outlet>
</router-outlet>
