.page-container {
    padding: 100px 5% 150px;
  }
  
  .container {
    padding: 100px 20%
  }
  
  .mat-card-subtitle {
    padding-top: 50px;
  }
  
  .submit-form-button {
    display: flex;
    padding-top: 30px;
    justify-content: center;
  }
  
  .mat-row {
    height: auto;
  }
  
  .mat-cell {
    padding: 8px 10px 10px 0;
  }
  
  .data-table {
    justify-content: center;
    display: flex;
  
  }
